.contenedorCards{
    display: flex;
    justify-content: space-evenly; 
    padding-left: 3%;  
    align-items: center;
    :hover{        
        opacity: .9;
    }
    
}

.cartaContenido{
    background-color: #87be7f;
}