.cajaHeader{
    align-self: center;
    margin: 5%;
    margin-bottom: 0%;
    display: block;
    display: flex;
}

.titulo{
    align-self: center;
    margin: 5%; 
    margin-left: 8%;   
    display: block;
    display: flex;
}

.fotoHeader{
    width: 30%;
    margin-left: -40%;
    
}


