.App {
  text-align: center;
}

.gatito{
  border-radius: 10%;
}

.App-header {
  background-color: #22c1c3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

.Body{
  padding-top: 2% ;
  padding-left: 5%;
  padding-right: 5%; 
  background-color: #62bf98;
  display: flex;
  justify-content: space-evenly;
}
